@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --card: 216 45% 97%;
    --ring: 216 62% 66%;
    --input: 220 13% 91%;
    --muted: 216 30% 92%;
    --accent: 216 19% 90%;
    --border: 220 13% 91%;
    --popover: 216 45% 97%;
    --primary: 216 62% 66%;
    --secondary: 216 19% 90%;
    --background: 216 45% 98%;
    --foreground: 216 70% 3%;
    --destructive: 18 98% 41%;
    --card-foreground: 216 70% 2%;
    --muted-foreground: 216 10% 25%;
    --accent-foreground: 216 19% 30%;
    --popover-foreground: 216 70% 2%;
    --primary-foreground: 216 62% 6%;
    --secondary-foreground: 216 19% 30%;
    --destructive-foreground: 0 0% 100%;
    --radius: 0.5rem;
  }

  .dark {
    --card: 216 58% 4%;
    --ring: 216 62% 66%;
    --input: 215 27.9% 16.9%;
    --muted: 216 30% 8%;
    --accent: 216 12% 15%;
    --border: 215 27.9% 16.9%;
    --popover: 216 58% 4%;
    --primary: 216 62% 66%;
    --secondary: 216 12% 15%;
    --background: 216 58% 3%;
    --foreground: 216 14% 97%;
    --destructive: 18 98% 48%;
    --card-foreground: 216 14% 98%;
    --muted-foreground: 216 10% 75%;
    --accent-foreground: 216 12% 75%;
    --popover-foreground: 216 14% 98%;
    --primary-foreground: 216 62% 6%;
    --secondary-foreground: 216 12% 75%;
    --destructive-foreground: 0 0% 100%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

main, nav {
  @apply max-w-6xl mx-auto my-14 px-4;
}
nav {
  @apply flex justify-between items-center;
}
nav ul {
  @apply flex gap-4;
}
p {
  @apply mt-4 text-lg leading-relaxed;
}
h1 {
  @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
}
h2 {
  @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
}
footer {
  @apply bg-background text-foreground py-6 px-4 mt-12 text-center;
}
.dialog-container {
  @apply flex justify-between flex-wrap gap-5 sm:m-4 md:m-8 lg:m-12;
}
.avatar-container {
  @apply p-4 sm:p-0;
}