@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 124 51% 100%;
    --foreground: 124 59% 5%;
    --card: 124 51% 100%;
    --card-foreground: 124 59% 5%;
    --popover: 124 51% 100%;
    --popover-foreground: 124 59% 5%;
    --primary: 124 17% 20%;
    --primary-foreground: 124 17% 80%;
    --secondary: 304 17% 20%;
    --secondary-foreground: 304 17% 80%;
    --accent: 304 17% 20%;
    --accent-foreground: 304 17% 80%;
    --destructive: 12 97% 30%;
    --destructive-foreground: 12 97% 90%;
    --muted: 304 33% 87%;
    --muted-foreground: 304 15% 26%;
    --border: 124 10% 93%;
    --input: 124 10% 93%;
    --ring: 124 17% 20%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 124 46% 2%;
    --foreground: 124 20% 99%;
    --card: 124 46% 2%;
    --card-foreground: 124 20% 99%;
    --popover: 124 46% 2%;
    --popover-foreground: 124 20% 99%;
    --primary: 124 17% 20%;
    --primary-foreground: 124 17% 80%;
    --secondary: 304 17% 20%;
    --secondary-foreground: 304 17% 80%;
    --accent: 304 17% 20%;
    --accent-foreground: 304 17% 80%;
    --destructive: 12 97% 51%;
    --destructive-foreground: 0 0% 100%;
    --muted: 304 33% 13%;
    --muted-foreground: 304 15% 74%;
    --border: 124 10% 12%;
    --input: 124 10% 12%;
    --ring: 124 17% 20%;
  }
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

main, nav {
  @apply max-w-6xl mx-auto my-14 px-4;
}
p {
  @apply mt-4 text-lg leading-relaxed;
}
h1 {
  @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
}
h2 {
  @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
}
footer {
  @apply bg-background text-foreground py-6 px-4 mt-12 text-center;
}
.dialog-container {
  @apply flex justify-between flex-wrap gap-5 sm:m-4 md:m-8 lg:m-12;
}